__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
env/

.ipynb_checkpoints/
*.ipynb_checkpoints

.vscode/
.idea/
*.code-workspace

data/
datasets/
audio/
outputs/
logs/
runs/
checkpoints/
models/
*.wav
*.flac
*.mp3
*.npy
*.npz
*.pt
*.pth

.DS_Store
Thumbs.db
